.Body{
    padding-top: 100px;
    border-bottom: 1px solid #e5e7eb;
}
hr{
    opacity: 0.3; /* 70% opacity */
    border-color: #ffffff; /* Dark gray color */

}

.Container{
    display: flex;
    flex-direction: row;
    margin: auto;
    /* background-color: aqua; */
    width:75%;

}

.ContentLeft{
    width: 50%;
    /* background-color: blanchedalmond; */
}

.ContentRight{
    width: 50%;

}


.MainImage img{
    width: 100%;
    height: 60%;
}
.ListImage{
    display: flex;
    flex-direction: row;
    height: 130px;
}
/* .SmallImage img{
    width: 90%;
    height: 80%;
    margin: auto;
    
}

.SmallImage img:hover{
    border: 2px solid #2760d3;
} */

/* new */
.thumbnail-list {
    display: flex;
    flex-wrap: wrap; /* Allow thumbnails to wrap to multiple lines */
    list-style: none; /* Remove default list bullets */
    padding: 0;
    margin: 0;
  }
  .thumbnail {
    width: 70px; 
    height: 100px;
    cursor: pointer;
    margin: 5px;
  }

  .thumbnail-list img:hover {
    border: 2px solid #2760d3;
  }




.ContentRight h1{
    padding-top: 3rem;
    text-transform: uppercase;
    font-weight: 500 !important;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #050505;
}


.Price{
    font-size: 22px;
    line-height: 1.5rem;
    font-family: SFUFuturaRegular;
    margin-top: 50px;
}

.Size h2{
    padding-top: 3rem;
    font-weight: 300 !important;
    font-size: 18px;
    line-height: 1.5rem;
    color: #050505;
}


.SoLuong{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.Count{
    margin-left: 10px;
    font-size: 18px;
}

.Count button{
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}

.BtnAddToCart button{
    margin-top: 50px;
    background-color: #050505;
    color: white;
    text-align: center;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;

}

.BtnAddToCart span{
    font-size: 18px;
}

.Pagination{
    margin: 50px 0;
    text-align: center;
    align-items: center;
}

.Collapse{
    margin-top: 50px;
}


.Collapse span{
    font-size: 16px;
    font-family: SFUFuturaRegular;
    font-weight: bold;
}
.Collapse button{
    background-color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.ThongTinSanPham p{
    font-family: SFUFuturaLight !important;
    color: #646363;
    font-size: 1rem;
    line-height: 1.5rem;
}

.HuongDanLuaSize img{
    width: 100%;
}

.Collection{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.Collection h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
}

.Collection p{
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-top: 2.5rem;
    font-family: SFUFuturaLight;
}


.CollectionContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.Product{
    height: 100%;
    width: 24%;
    margin: 10px;
}
.ProductImg img{
    width: 95%;
}

